<!--slider area start-->
{% with new_products.first as product %}
    <section class="slider_section slider_s_four mb-60">
        <div class="slider_area slider3_carousel owl-carousel">
            <div class="single_slider d-flex align-items-center" data-bgimg="{{ product.gallery_set.first.image.url }}">
                <div class="slider_content slider_c_four container pl-3">
                    <h3>محصولات جدید</h3>
                    <h1>{{ product.name }} <br> آماده برای فروش</h1>
                    <p>تخفیف <span> {{ product.get_discount }} درصد</span> این هفته</p>
                    <a class="button" href="{{ product.get_absolute_url }}">هم اکنون بخرید</a>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center" data-bgimg="assets/img/slider/slider18.jpg">
                <div class="slider_content slider_c_four container pl-3">
                    <h3>محصولات محبوب</h3>
                    <h1>دسته بازی Xbox <br> مدل جدید 2019</h1>
                    <p>تخفیف <span> 30 درصد</span> این هفته</p>
                    <a class="button" href="shop.html">هم اکنون بخرید</a>
                </div>
            </div>
        </div>
    </section>
{% endwith %}
<!--slider area end-->