{% extends "base/main.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin: 20px">{% trans "Password Reset" %}</h2>
    <br>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <h5 style="width: 60%;margin:auto;">ما به شما یک ایمیل فرستادیم. اگر آن را دریافت نکردید لطفا پوشه اسپم را نیز چک
        کنید</h5>
    <br><br>
    <br><br>
    <br><br>


{% endblock %}