{% extends 'base/_main.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="login_page_bg">
            <div class="container">
                <div class="customer_login">
                    <div class="row">
                        <!--reset password area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form login">
                                <h2>{% trans 'تغییر گذرواژه' %}</h2>
                                <form method="POST" action="{% url 'account_reset_password' %}">
                                    {{ form|crispy }}
                                    {% csrf_token %}
                                    <div class="login_submit">
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <button type="submit" name="action">درخواست بازنشانی</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--reset password area start-->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}