{% extends "base/main.html" %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <h5 style="margin:80px; text-align: center">این لینک نامعتبر است چون قبلا استفاده شده است. لطفا یک لینک جدید
            بسازید.
        </h5>
    {% else %}
        <div class="login_page_bg">
            <div class="container">
                <div class="customer_login">
                    <div class="row">
                        <!--reset password area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form login">
                                <h2>{% trans 'تغییر گذرواژه' %}</h2>
                                <form method="POST" action="{{ action_url }}">
                                    {{ form|crispy }}
                                    {% csrf_token %}
                                    <div class="login_submit">
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        <button type="submit" name="action">تغییر گذرواژه</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--reset password area start-->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}