{% extends 'base/_main.html' %}
{% load crispy_forms_filters %}

{% block title %}ورود{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">خانه</a></li>
                            <li>ثبت نام</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
 {% include 'base/include/messages.html' %}
    <!-- customer login start -->
    <div class="login_page_bg">
        <div class="container">
            <div class="customer_login">
                <div class="row">
                    <!--register area start-->
                    <div class="col-lg-6 col-md-6">
                        <div class="account_form register">
                            <h2>ثبت نام</h2>
                            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                {#                                <p>#}
                                {#                                    <label>آدرس ایمیل <span>*</span></label>#}
                                {#									<input type="text" dir="ltr">#}
                                {#                                </p>#}
                                {#                                <p>#}
                                {#                                    <label>رمز عبور <span>*</span></label>#}
                                {#									<input type="password" dir="ltr">#}
                                {#                                </p>#}
                                <div class="login_submit">
                                    <button type="submit">{% trans "ثبت نام" %}</button>
                                </div>
                                <a href="{% url 'account_login' %}"> آیا اکانتی دارید؟  ورود</a>
                            </form>
                        </div>
                    </div>
                    <!--register area end-->
                </div>
            </div>
        </div>
    </div>

    <!-- customer login end -->
{% endblock %}
