<article class="single_product">
    <figure>
        <div class="product_thumb">
            <a class="primary_img" href="{{ product.get_absolute_url }}">
                <img src="{{ product.gallery_set.first.image.url }}" alt="image"></a>
            <a class="secondary_img" href="{{ product.get_absolute_url }}">
                <img src="{{ product.gallery_set.last.image.url }}" alt="image"></a>
            <div class="label_product">
                <span class="label_sale">فروش</span>
            </div>
            <div class="action_links">
                <ul>
                    <li class="wishlist">
                        <form action="{% url 'shop:add_favorites_items' product.slug %}"
                              method="post">
                            {% csrf_token %}

                            <input class="btn btn-success" type="submit" value="+" title="افزودن به علاقه مندی ها"
                                   style="height: 36px">
                        </form>
                    </li>
                    <li class="quick_button"><a href="#" data-toggle="modal"
                                                data-target="#modal_box"
                                                title="مشاهده سریع"><i
                            class="ion-ios-search-strong"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="product_content grid_content">
            <div class="product_content_inner">
                <h4 class="product_name"><a
                        href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </h4>
                <div class="product_rating">
                    <ul>
                        {% include 'shop/include/product_stars.html' %}
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">{{ product.old_price }} تومان</span>
                    <span class="current_price">{{ product.current_price }} تومان</span>
                </div>
            </div>
            <div class="add_to_cart">
                {#                <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>#}
                <form action="" method="post">
                    {% csrf_token %}
                    <label>تعداد</label>
                    {#                    {{ add_to_cart_form.quantity }}#}
                    <input type="hidden" name="quantity" value="1">
                    <button class="button" type="submit">افزودن به سبد</button>
                </form>

            </div>
        </div>
        <div class="product_content list_content">
            <h4 class="product_name"><a
                    href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
            <div class="product_rating">
                <ul>
                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                    <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                </ul>
            </div>
            <div class="price_box">
                <span class="old_price">{{ product.old_price }} تومان</span>
                <span class="current_price">{{ product.current_price }} تومان</span>
            </div>
            <div class="product_desc">
                <p>{{ product.name }}</p>
            </div>
            <div class="add_to_cart">
                <form action="" method="post">
                    {% csrf_token %}
                    <label>تعداد</label>
                    {{ add_to_cart_form.quantity }}
                    <button class="button" type="submit">افزودن به سبد</button>
                </form>
            </div>
            <div class="action_links">
                <ul>
                    <li class="wishlist"><a href="wishlist.html"
                                            title="افزودن به علاقه‌مندی‌ها"><i
                            class="ion-android-favorite-outline"></i> افزودن به
                        علاقه‌مندی‌ها</a></li>
                    <li class="compare"><a href="#" title="افزودن به مقایسه"><i
                            class="ion-ios-settings-strong"></i> مقایسه</a></li>
                    <li class="quick_button"><a href="#" data-toggle="modal"
                                                data-target="#modal_box"
                                                title="مشاهده سریع"><i
                            class="ion-ios-search-strong"></i> نمایش سریع</a></li>
                </ul>
            </div>
        </div>
    </figure>
</article>
