{% load blog_tags %}
<div class="blog_sidebar_widget">
    <div class="widget_list widget_search">
        <div class="widget_title">
            <h3>جستجو</h3>
        </div>
        <form action="#">
            <input placeholder="جستجو ..." type="text">
            <button type="submit">جستجو</button>
        </form>
    </div>
    <div class="widget_list comments">
        <div class="widget_title">
            <h3>دیدگاه‌های جدید</h3>
        </div>
        {% get_n_last_records comments 4 as 4_last_comments %}
        {% for c in 4_last_comments %}
            <div class="post_wrapper">
                <div class="post_thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/comment2.png.jpg" alt=""></a>
                </div>
                <div class="post_info">
                    <span> <a href="#">{{ c.owner }}</a> می‌گوید:</span>
                    <a href="blog-details.html">{{ c.comment|truncatewords:4 }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="widget_list widget_post">
        <div class="widget_title">
            <h3>مطالب اخیر</h3>
        </div>
        {% get_n_last_records articles 4 as 4_last_article %}
        {% for ar in 4_last_article %}
            <div class="post_wrapper">
                <div class="post_thumb">
                    <a href="blog-details.html"><img src="assets/img/blog/blog9.jpg" alt=""></a>
                </div>
                <div class="post_info">
                    <h4><a href="{% url 'blog:detail' ar.id %}">{{ ar.title }}</a></h4>
                    <span>{{ ar.created }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="widget_list widget_categories">
        <div class="widget_title">
            <h3>دسته ها</h3>
        </div>
        <ul>
            {% for category in categories %}
                <li><a href="#">{{ category.title }}</a></li>
            {% endfor %}

        </ul>
    </div>
    <div class="widget_list widget_tag">
        <div class="widget_title">
            <h3>برچسب های محصولات</h3>
        </div>
        <div class="tag_widget">
            <ul>
                {% for tag in tags %}
                    <li><a href="#">{{ tag.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>