  <article class="single_blog blog_bidio">
                                    <figure>
                                        <div class="blog_thumb">
                                            <iframe src="https://www.aparat.com/video/video/embed/videohash/f6hW3/vt/frame"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="blog-details.html">مطلب بلاگ ویدیویی</a>
                                            </h4>
                                            <div class="blog_meta">
                                                <span class="author">ارسال توسط : <a href="#">مدیر</a> / </span>
                                                <span class="meta_date">ارسال شده در :  <a
                                                        href="#">22 اسفند 1398</a></span>
                                            </div>
                                            <div class="blog_desc">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از
                                                    طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                    سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                    کاربردهای
                                                    متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و
                                                    سه
                                                    درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
                                            </div>
                                            <footer class="btn_more">
                                                <a href="blog-details.html"> بیشتر بخوانید</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>