<article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="blog-details.html"><img src="assets/img/blog/blogpage3.jpg" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="blog-details.html">مطلب بلاگ صوتی</a></h4>
                                            <div class="blog_meta">
                                                <span class="author">ارسال توسط : <a href="#">مدیر</a> / </span>
                                                <span class="meta_date">ارسال شده در :  <a
                                                        href="#">22 اسفند 1398</a></span>
                                            </div>
                                            <div class="blog_aduio_icone">
                                                <audio controls>
                                                    <source src="assets/audio/sound.mp3" type="audio/mp3">
                                                </audio>
                                            </div>
                                            <div class="blog_desc">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                                    استفاده از
                                                    طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                    سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد </p>
                                            </div>
                                            <footer class="btn_more">
                                                <a href="blog-details.html"> بیشتر بخوانید</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>